[submodule "submodules/omz/custom/plugins/zsh-syntax-highlighting"]
	path = submodules/omz/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "submodules/omz/custom/themes/powerlevel9k"]
	path = submodules/omz/custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "submodules/omz/custom/plugins/zsh-autosuggestions"]
	path = submodules/omz/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "submodules/dot_janus/vim-closer"]
	path = submodules/dot_janus/vim-closer
	url = https://github.com/rstacruz/vim-closer.git
[submodule "submodules/dot_janus/vim-ipython"]
	path = submodules/dot_janus/vim-ipython
	url = https://github.com/ivanov/vim-ipython.git
[submodule "submodules/dot_janus/space-vim-dark"]
	path = submodules/dot_janus/space-vim-dark
	url = https://github.com/liuchengxu/space-vim-dark.git
[submodule "submodules/dot_janus/ansible-lint"]
	path = submodules/dot_janus/ansible-lint
	url = https://github.com/willthames/ansible-lint.git
[submodule "submodules/dot_janus/vim-better-whitespace"]
	path = submodules/dot_janus/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "submodules/dot_janus/vim-indentwise"]
	path = submodules/dot_janus/vim-indentwise
	url = https://github.com/jeetsukumaran/vim-indentwise.git
[submodule "submodules/dot_janus/vim-flake8"]
	path = submodules/dot_janus/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "submodules/dot_janus/vim-crosshair"]
	path = submodules/dot_janus/vim-crosshair
	url = https://github.com/bronson/vim-crosshairs.git
[submodule "submodules/dot_janus/vim-airline-themes"]
	path = submodules/dot_janus/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "submodules/dot_janus/vim-airline"]
	path = submodules/dot_janus/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "submodules/dot_janus/swift.vim"]
	path = submodules/dot_janus/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule "submodules/dot_janus/indentLine"]
	path = submodules/dot_janus/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "submodules/dot_janus/ansible-vim"]
	path = submodules/dot_janus/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "submodules/dot_janus/ale"]
	path = submodules/dot_janus/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "submodules/dot_janus/vim-terraform"]
	path = submodules/dot_janus/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "submodules/dot_janus/tabular"]
	path = submodules/dot_janus/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "submodules/omz/custom/plugins/command-time"]
	path = submodules/omz/custom/plugins/command-time
	url = https://github.com/popstas/zsh-command-time.git
[submodule "submodules/dot_janus/terraform-lsp"]
	path = submodules/dot_janus/terraform-lsp
	url = https://github.com/juliosueiras/terraform-lsp.git
