---
# designed for bento/ubuntu-18.04
# manual rerun: ansible-playbook -i .vagrant/provisioners/ansible/inventory/vagrant_ansible_inventory playbook.yaml
- name: simple task so i can run other playbooks once vagrant vm is up
  become: yes
  hosts: all
  tasks:
    - debug: var=inventory_hostname

- name: apt updates
  become: yes
  hosts: all
  tasks:
    - include_tasks: ./apt_base.yaml
  handlers:
    - name: server restart
      wait_for_connection:
        delay: 15

- name: install profile
  hosts: all
  tasks:
    - include_tasks: ./profile.yaml
  vars:
    github_commit: HEAD
    python_version: 3.9.2
...
